@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --soft-orange: hsl(35, 77%, 62%); 
  --soft-red: hsl(5, 85%, 63%); 
  --off-white: hsl(36, 100%, 99%); 
  --grayish-blue: hsl(233, 8%, 79%); 
  --dark-grayish-blue: hsl(236, 13%, 42%); 
  --very-dark-blue: hsl(240, 100%, 5%); 
}

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background-color: var(--off-white);
  position: relative; 
}

.overlay.active {
  position: absolute; 
  top: 0; 
  left: 0; 
  background-color: #000;
  opacity: 0.7; 
  z-index: 1; 
  height: 100%;
  width: 100%;
  transition: linear all 0.5s; 
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; 
}

.logo img {
  width: 50px;
}

.menu-close {
  display: none;
}

.menu-close.active {
  display: block;
  position: fixed; 
  top: 25px;  
  right: 25px; 
  z-index: 6;
}

.links {
  display: none;
}

.links.active {
  background-color: var(--off-white);
  position: fixed; 
  right: 0; 
  top: 0; 
  height: 100vh;
  width: 250px; 
  padding: 8rem 7rem 2rem 2rem; 
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  z-index: 5;
}

li {
  list-style: none; 
}

li a {
  text-decoration: none;
  font-size: 1.2rem; 
  color: var(--very-dark-blue); 
}

main {
  padding: 0 1rem 1rem 1rem; 
}

section {
  width: 100%;
}

.main-article img {
  width: 100%;
  margin-bottom: 1rem;
}

.main-article h1 {
  font-weight: 800;
  font-size: 3rem; 
  margin-bottom: 1.5rem;
}

.main-article p {
  margin-bottom: 1.5rem;
}

.main-article button {
  background-color: var(--soft-red);
  color: var(--off-white); 
  border: none; 
  outline: none; 
  padding: 1rem 2rem; 
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}

.main-article button:hover {
  background-color: var(--very-dark-blue);
  color: var(--off-white); 
  cursor: pointer; 
}

.new-articles {
  background-color: var(--very-dark-blue);
  color: var(--off-white); 
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  padding: 1.5rem;
  line-height: 2rem; 
  margin-bottom: 3rem;
}

.new-articles h2 {
  color: var(--soft-orange);
}

.new h3 {
  font-size: 1.2rem; 
}

.new h3:hover {
  color: var(--soft-orange); 
  cursor: pointer;
}

.new p {
  color: var(--dark-grayish-blue); 
}

hr {
  border: 1px solid var(--dark-grayish-blue); 
}

.trending-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; 
}

.trending {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px; 
}

.pic {
  height: 100%;
}

.pic img {
  height: 100%;
}

.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  padding: 0.2rem 0.8rem; 
}

.text h2 {
  font-size: 2rem;
  color: var(--grayish-blue); 
}

.text h3 {
  font-weight: 800;
}

.text h3:hover {
  color: var(--soft-red); 
  cursor: pointer;
}

.text p {
  color: var(--dark-grayish-blue); 
}

/* Media Queries */

@media (min-width: 1440px) {

  header, main {
    width: 80%;
    margin: auto; 
  }

  header {
    padding-top: 4rem; 
    padding-bottom: 3rem;
  }

  .menu-bars {
    display: none;
  }

  .links {
    display: flex;
    gap: 2.5rem; 
  }

  .main-pic {
    grid-area: mainpic; 
    height: 300px;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  .main-pic img {
    width: 100%;
  }

  .main-heading {
    grid-area: mainheading;
    padding-right: 8rem;
  }

  .main-text {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
      'mainheading maindesc';
  }

  .main-desc {
    grid-area: maindesc; 
  }

  .main-desc p {
    margin-bottom: 3rem;
    line-height: 1.5rem;
  }

  .new-artciles {
    grid-area: new;
  }

  .trending-articles {
    display: flex;
    flex-direction: row;
    grid-area: trending; 
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto; 
    column-gap: 1rem; 
    grid-template-areas: 
      'mainpic new'
      'maintext new'
      'trending trending';
  }
  
}